extend index 
block title 
    title Learn More About Us
    style 
        include ../static/learn_more.css
    //- <link rel="stylesheet" type="text/css" href="">
block content
    div.op
        <div class="heading-box">
            <h1 class="center">Members</h1>
        </div>
        hr
        <div class="cook-box">
            <img src="static/picture/dog.png" alt="Cook 1 Image" class="cook-image">
            <div class="cook-info">
                <h2>Minank</h2>
            </div>
        </div>

        <div class="cook-box">
            <img src="static/picture/fox.png" alt="Cook 2 Image" class="cook-image">
            <div class="cook-info">
                <h2>Tirth</h2>
            </div>
        </div>
        <div class="cook-box">
            <img src="static/picture/cute.png" alt="Cook 3 Image" class="cook-image">
            <div class="cook-info">
                <h2>Bhavya</h2>
            </div>
        </div>

        <div class="cook-box">
            <img src="static/picture/kutta.png" alt="Cook 2 Image" class="cook-image">
            <div class="cook-info">
                <h2>Uday</h2>
            </div>
        </div>

        hr
        br

        <h5 id="text1">
            p Welcome to our virtual corner, where culinary delights meet seamless
                |management! At our cafetaria management website, we're not just
                |about the buzz of coffee machines and the aroma of freshly baked
                |goodies; we're about orchestrating a symphony of flavors and
                |efficiency.

            br
            
            p Our journey began with a simple idea: What if managing a
                |cafetaria could be as enjoyable as sipping a perfectly brewed cup of
                |coffee? That's the inspiration that fuels our commitment to
                |providing a user-friendly, intuitive solution for cafetaria owners
                |and managers and students.

            br
            
            <p>Whether you're juggling menus, tracking inventory, or
                |ensuring your customers have a seamless ordering experience, we've
                |got your back. Our website isn't just lines of code; it's a recipe
                |for success in the modern cafetaria landscape. Join us in
                |revolutionizing the way you run your cafetaria—because great food
                |deserves great management!
        </h5>